/* styles.css */

body{
	margin: 1en;
	background-color: black;
	color: whitesmoke;
	font-size: 5rem;
	overflow: hidden;
}
.grid-container {
	display: grid;
	/*grid-template-column: 1fr 1fr 1fr;*/
	grid-template-column: repeat (auto-fit, mimiax (320px, 1fr));
	gap: 2rem;
}

